#cachemanager .list {
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
}

#cachemanager .list li {
    margin-bottom: 5px;
    padding: 0;
}

#cachemanager .list-separator li.border-top,
#cachemanager .row-separator {
    border-top: 1px dotted #e0e0e0;
    margin-top: 5px;
    padding-top: 5px;
}

#cachemanager .list-separator li.first,
#cachemanager .list li.first {
    border-top: 0 !important;
}
